.onboarding__container {
    display: grid;
    place-items: center;
}

.onboarding__form {
    width: 400px;
    padding: 0 0.5em;

    button {
        width: inherit;
        margin: 1em 0;
        padding: 1rem 0;
        text-transform: inherit !important;
        color: rgba(255, 255, 255, 0.9);
        background-color: var(--primary-color);
        border: none;
        border-radius: 0.3em;
        // font-size: 1rem;
        // font-weight: bold;
        transition: box-shadow 2ms ease-out;

        &:hover {
            box-shadow: 0 1px 4px rgba(0,0,0,0.4);
        }
    }

    .onboarding__selectType{
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
    
        .onboarding__planType {
            flex: 0.46;
            padding: 1.5rem 1.3rem;
            border-radius: 0.3rem;
            border: 1px solid rgba(189,197,214,0.7);
            // font-size: 0.9rem;
    
            &:focus, &:hover, &:active {
                border: 1px solid var(--primary-color);
            }

            img {
                height: 20px;
                margin-bottom: 1.4rem;
            }
            h4 {
                margin-bottom: 0.75rem;
                font-weight: 700;
            }
            p {
                font-size: 0.9rem;
                color: var(--black);
                opacity: 0.8;
            }
        }
    }
}



.onboarding__input {
    margin-top: 0.6rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    label {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--black);
    }

    span {
        color: var(--grey-secondary);
    }

    input {
        margin: 0.5rem 0;
        padding: 0.6rem;
        border-radius: 0.3em;
        border: 1px solid rgba(189,197,214,0.7);
        font-size: 0.9rem;
        // transition: border 80ms ease-out, box-shadow 80ms ease-out;

        &:focus {
            border: 1px solid var(--primary-color);
            outline: none;
        }
        &::placeholder {
            font-size: 0.8rem;
        }
    }
}