.card-title {
    text-align: center;
    margin: 2rem 0.2rem;

    h1{
        font-size: 1.85rem;
        margin-bottom: 0.8rem;
    }
    p {
        font-weight: 500;
        color: var(--black);
        opacity: 0.75;
    }
}