* {
  margin: 0;
  // overflow: hidden;
  font-family: 'Inter', sans-serif;
  --primary-color: #5a4ad1;
  --grey-primary: #9ba0ab;
  --grey-secondary: #bdc5d6;
  --border-color: #2415c9;
  --black: #40434a;
  --circle-size: clamp(1.1rem, 5rem, 2.2rem);
}

.App {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.App__header {
  display: flex;
  align-items: center;

  img {
    height: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
    margin-left: 0.4rem;
  }
}

.stepper {
  display: grid;
  grid-template-columns: repeat(4, 5.8rem);
  padding: 0;
  margin: 4rem auto 2rem;
}

.stepper__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;

  &:before {
      content: "";
      display: block;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.15);
      margin: 0 auto;
      z-index: 10;
  }

  &:after {
    content: "";
    position: relative;
    top: -65%;
    width: 100%;
    height: 0.8px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
  &:first-child{
    &:after {
      left: calc(50% + calc(var(--circle-size) / 2));
      width: calc(70% - var(--circle-size));
    }
  }
  &:last-child{
    &:after {
      left: calc(18% - calc(var(--circle-size) / 2));
      width: calc(70% - var(--circle-size));
    }
  }

  .stepper__title {
      position: relative;
      top: -50%;
      color: var(--black);
      opacity: 0.85;
      font-size: 0.8rem;
      font-weight: 600;
      z-index: 10;
  }


  &.done {
    &:before {
      background-color: var(--primary-color);
      border: 1px solid transparent;
    }

    &:after {
      background-color: var(--primary-color);
    }

    .stepper__title {
      color: rgb(255, 255, 255);
      opacity: 1;
      font-weight: 400;
    }
  }
}

